// Filter & Sort Bar Component
.search-info-filter{
  @media (max-width: 768px) {
    width: 100%;
  }
}
.filter-sort-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  // 768px 이하 모바일
  @media (max-width: 768px) {
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    
  }
}

// Filter Section
.filter-group {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #131416;
  font-size: 17px;
  @media screen and (max-width: 1200px) {
    font-size: 1.2rem;
  }
  @media (max-width: 768px) {
    justify-content: space-between;
  }
}

.filter-label {
  font-weight: 700;
  font-size: 1.7rem;
  @media screen and (max-width: 1200px) {
    font-size: 1.2rem;
  }
}

.filter-select {
  border: 0;
  background-color: transparent;
  color: #131416;
  padding: 0 20px 0 4px;
  cursor: pointer;
  font-size: 15px;
  appearance: none;
  //background-image: url('/images/portal/ui-select-arrow.svg');
  background-image: url('/images/portal/ui-select-arrow-black.svg');
  background-repeat: no-repeat;
  background-position: right 0 center;
  option {
    background: #131416;
    color: #333;
  }
  @media screen and (max-width: 1200px) {
    font-size: 1.2rem;
  }
}

// Divider
.divider {
  width: 1px;
  height: 16px;
  //background: rgba(255, 255, 255, 0.20);
  background: #E6E8EA;
  @media (max-width: 768px) {
    display: none;
  }  
}

// Sort Section
.sort-group {
  display: flex;
  align-items: center;
  gap: 12px;

  @media (max-width: 768px) {
    justify-content: space-between;
  }
}

.sort-label {
  color: #131416;
  font-weight: 700;
  font-size: 1.7rem;
  @media screen and (max-width: 1200px) {
    font-size: 1.2rem;
  }
}

.sort-buttons {
  display: flex;
  gap: 8px;

  @media (max-width: 768px) {
    display: none;
  }
  @media screen and (max-width: 1200px) {
    font-size: 1.2rem;
  }
}

.sort-btn {
  color: #131416;
  font-size: 15px;
  height: 26px;
  padding: 0 4px;

  &.active {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background-color: #EEF2F7;
    color: #1E2124;
    text-decoration: underline;
  }
}

// 모바일 전용 셀렉트
.sort-select-mobile {
  display: none;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #131416;
  padding: 8px 32px 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='white' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  min-width: 120px;

  option {
    background: #2a6a7c;
    color: white;
  }

  @media (max-width: 768px) {
    display: block;
  }
}