@use '../abstracts/mixin' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/utilities' as *;

// ========================================
// Hamburger Menu
// ========================================

.hamburger-menu {
  @include button-reset;
  @include flex-center;
  @include square(40px);
  position: relative;
  flex-direction: column;
  gap: 5px;
  background: transparent;
  cursor: pointer;
  transition: all var(--transition-fast);
  
  span {
    display: block;
    width: 24px;
    height: 3px;
    background: #b3b3b3;
    border-radius: 10px;
    transition: all 0.3s ease;
    transform-origin: center;
  }
  
  // 활성화 상태 (X 모양)
  &.active {
    span {
      &:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }    
      &:nth-child(2) {
        opacity: 0;
        transform: scaleX(0);
      }
      
      &:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

