@use '../abstracts/mixin' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/utilities' as *;

// ========================================
// Icons
// ========================================


.icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  // 아이콘 크기
  &--xs {
    width: 14px;
    height: 14px;
  }
  
  &--sm {
    width: 16px;
    height: 16px;
  }
  
  &--md {
    width: 20px;
    height: 20px;
  }
  
  &--lg {
    width: 24px;
    height: 24px;
  }
  
  &--xl {
    width: 32px;
    height: 32px;
  }
  
  &--2xl {
    width: 40px;
    height: 40px;
  }
  
  // 아이콘 색상
  &--primary {
    color: var(--color-primary);
  }
  
  &--secondary {
    color: var(--color-secondary);
  }
  
  &--success {
    color: var(--color-success);
  }
  
  &--danger {
    color: var(--color-danger);
  }
  
  &--warning {
    color: var(--color-warning);
  }
  
  &--info {
    color: var(--color-info);
  }
  
  &--muted {
    color: var(--color-gray-500);
  }
}

// 아이콘 버튼
.icon-btn {
  @include icon-button;
  
  &--sm {
    @include icon-button(32px, 16px);
  }
  
  &--md {
    @include icon-button(40px, 20px);
  }
  
  &--lg {
    @include icon-button(48px, 24px);
  }
  
  // 아이콘 버튼 색상
  &--primary {
    color: var(--color-primary);
    
    &:hover {
      background-color: rgba(59, 130, 246, 0.1);
    }
  }
  
  &--danger {
    color: var(--color-danger);
    
    &:hover {
      background-color: rgba(239, 68, 68, 0.1);
    }
  }
  
  &--success {
    color: var(--color-success);
    
    &:hover {
      background-color: rgba(16, 185, 129, 0.1);
    }
  }
}

// 아이콘 배지
.icon-badge {
  position: relative;
  display: inline-block;
  
  &::after {
    content: '';
    @include absolute($top: 0, $right: 0);
    @include circle(8px);
    background-color: var(--color-danger);
    border: 2px solid var(--color-white);
  }
  
  &--dot::after {
    @include circle(6px);
  }
}

.icon-plus{
  @include icon('/images/portal/icon-plus.svg', 18px, #000);
  &:hover{
    background-color: #000;
  }
}

.icon-share{
  @include icon('/images/portal/icon-share.svg', 24px, #fff);
}
.icon-print{
  @include icon('/images/portal/icon-print.svg', 24px, #fff);
}

.icon-search{
  @include icon('/images/portal/icon-search.png', 20px);
}
.icon-search2{
  @include icon('/images/portal/icon-search2.svg', 24px, #fff);
}

.icon-time{
  @include icon('/images/portal/icon-time.png', 20px);
}

.icon-delete{
  @include icon('/images/portal/icon-delete.svg', 20px, #6D7882);
}

.icon-help{
  @include icon('/images/portal/icon-help.svg', 32px, #6D7882);
}

.icon-arrow-right{
  @include icon('/images/portal/icon-arrow-right.svg', 40px, #000);
}

.icon-arrow-right-bold{
  @include icon('/images/portal/icon-arrow-right-bold.svg', 40px, #000);
}

.icon-hit{
  @include icon('/images/portal/icon-hit.svg', 24px, #58616A);
}

.icon-blank{
  @include icon('/images/portal/icon-blank.svg', 10px, #9940E2);
}

.icon-blank2{
  @include icon('/images/portal/icon-blank2.svg', 24px, #1D1D1D);
}

.icon-input-search{
  @include icon('/images/portal/icon-input-search.svg', 20px, #fff);
}

.icon-reset{
  @include icon('/images/portal/icon-reset.svg', 20px, #131416);
}
.icon-lock{
  @include icon('/images/portal/lock.svg', 20px, #58616A);
}
.icon-back{
  @include icon('/images/portal/icon-back.svg', 40px, #131416);
}
.icon-notice{
  @include icon('/images/portal/icon-notice.svg', 12px, #fff);
}
.icon-arrow-left{
  @include icon('/images/portal/icon-arrow-left.svg', 26px, #58616A, 12px);
}
.icon-arrow-right2{
  @include icon('/images/portal/icon-arrow-right2.svg', 26px, #58616A, 12px);
}

.icon-map{
  @include icon('/images/portal/icon-map.svg', 18px, #58616A);
}

.icon-arrow-brandly{
  @include icon('/images/portal/icon-arrow-brandly.svg', 16px, #811FD0);
}

.icon-arrow-left-w{
  @include icon('/images/portal/icon-arrow-left-w.svg', 16px, #58616A);
}

.icon-monitor{
  @include icon('/images/portal/icon-monitor.svg', 24px, #fff);
}
.icon-download{
  @include icon('/images/portal/icon-download.svg', 20px, #000);
}
.icon-preview{
  @include icon('/images/portal/icon-preview.svg', 24px, #4A1278);
}

.btn:hover .icon-download{
  background-color: #fff;
}

.icon-badge-delete{
  @include icon('/images/portal/icon-badge-delete.svg', 7px, #33363D);
}

.icon-add{
  @include icon('/images/portal/icon-item-add.svg', 24px, #4A1278);
}