@use '../abstracts/mixin' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/utilities' as *;

// ========================================
// Modal
// ========================================

.modal {
  @include fixed(0, 0, 0, 0);
  z-index: var(--z-modal);
  display: none;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md);
  overflow-y: auto;
  
  &.is-active {
    display: flex;
  }
  
  &--fade-in {
    @include fade-in;
  }
}

.modal-backdrop {
  @include absolute(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: var(--z-modal-backdrop);
}

.modal-content {
  position: relative;
  z-index: var(--z-modal);
  //width: 100%;
  //max-width: 500px;
  border-radius: 12px;
  box-shadow: var(--shadow-xl);
  animation: slideInUp var(--transition-base);
  @include respond-to('md') {
    width: 600px;
  }
}

// 모달 크기
.modal--sm .modal-content {
  width: 560px;
  .modal-body{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
  }
}

.modal--md .modal-content {
  width: 600px;
}

.modal--lg .modal-content {
  width: 930px;
}

.modal--xl .modal-content {
  width: 1000px;
}

.modal--full .modal-content {
  max-width: 95vw;
  max-height: 95vh;
}

// 모달 헤더
.modal-header {
  @include flex-between;
  border-radius: 12px 12px 0 0;
  //background: var(--gradient-1, linear-gradient(90deg, #2DA34F 0%, #1B5D88 100%));
  background: linear-gradient(105deg, #4A1278 -10.99%, #6719A6 62.19%, #FF004E 135.37%), linear-gradient(90deg, #6719A6 0%, #FF004E 100%);
  overflow: hidden;
  padding: 24px 40px;
  h2, h3, h4 {
    margin: 0;
    color: #fff;
    line-height: 1;
    font-size: 23px;
  }
}

.modal-close {
  color: var(--color-gray-500);
  @include flex-center;
  padding: 0;
  background: url('/images/portal/icon-modal-close.svg') center no-repeat;
  width: 32px;height: 32px;
  &:hover {
    color: var(--color-gray-700);
  }
}

// 모달 바디
.modal-body {
  padding: 20px 40px;
  max-height: 70vh;
  overflow-y: auto;
  background-color: #fff;
  @include scrollbar;
  
  &:first-child {
    border-top-left-radius: var(--radius-lg);
    border-top-right-radius: var(--radius-lg);
  }
  
  &:last-child {
    border-bottom-left-radius: var(--radius-lg);
    border-bottom-right-radius: var(--radius-lg);
  }
}

// 모달 푸터
.modal-footer {
  @include flex-between;
  background-color: #fff;
  border-top: 1px solid var(--color-gray-200);
  padding: 24px 40px;
  border-radius: 0 0 12px 12px;
  .btn{
    width: 78px;
    height: 48px;
    font-size: 17px;
  }
  > div{
    display: flex;
    gap: 8px;
  }
}

/** 모달 검색 **/
.modal-single-search{
  display: flex;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid var(--g-10, #E6E8EA);
  background: var(--g-05, #F4F5F6);
  width: 100%;
  .note{
    color: #464C53;
    font-size: 13px;
    margin-bottom: 8px;
  }
  .search-bar{
    width: 100%;
    position: relative;
    .input{
      width: 464px;
    }
    .submit{
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}