<ul class="pagination">
  <li>
    <button class="page-item prev">
      <span class="text">이전</span>
    </button></li>
  <li><button class="page-item">1</button></li>
  <li><button class="page-item active">2</button></li>
  <li><button class="page-item">3</button></li>
  <li><button class="page-item">3</button></li>
  <li><button class="page-item">3</button></li>
  <li><button class="page-item ellipsis">생략</button></li>
  <li><button class="page-item">99</button></li>
  <li>
    <button class="page-item next">
      <span class="text">다음</span>
    </button>
  </li>
</ul> 