
<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-buttons">
        <a href="#" class="">대출  비교 하기</a>
        <div class="popover">
        <div class="popover-content" data-show="true">신용점수에 영향이 없어요</div>
        <div class="popover-trigger"></div>
        </div>
      </div>
      <div class="footer-content">
        <div class="footer-logo">(주)핀테크인</div>
        <div class="footer-content-item">
          대표이사 : 정태복 사업자등록번호 107-87-47457 <br>
          서울 영등포구 국제금융로 70, 907호(여의도동, 미원빌딩) <br>
          고객지원 <a href="mailto:web@fintechin.co.kr">web@fintechin.co.kr</a> <br>
          온라인대출모집번호 : 제XXXX-XXXX호     대표번호 : <a href="tel:15XX-XXXX">15XX-XXXX</a> 
        </div>
        <div class="footer-legal">
          <div class="footer-logo2">© StockCredit</div>
          <div class="footer-links">
              <a href="#" class="footer-link">이용약관</a>
              <a href="#" class="footer-link">개인정보처리방침</a>
          </div>
          <div class="footer-copy">Copyright StockCredit, Inc. All Rights Reserved</div>
        </div>
      </div>
    </div>
  </div>
</footer>