<header id="header" class="header">
  <div class="header-inner">
    <div class="header-logo">
      <a href="/">U MONEY UP</a>
    </div>
    <!-- // header-logo -->

    <nav id="nav">
      <ul id="gnb" class="gnb">
        <li><a href="#">대출비교 서비스 </a></li>
        <li><a href="#">고객센터</a></li>
        <li><a href="#">마이페이지</a></li>
      </ul>
    </nav>
    <!-- // nav -->

    <div class="header-buttons">
        <a href="#" class="#">회원가입</a>
        <a href="#" class="#">로그인</a>
    </div>

    <div class="header-hamburger">
      <button class="hamburger-menu" aria-label="메뉴 열기/닫기">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <!-- // header-hamburger -->
  </div>
</header>
<!-- // header -->

<nav id="mobile-nav" class="mobile-nav">
  <div class="mobile-nav-inner">
    <div class="header-hamburger">
      <button class="hamburger-menu active" aria-label="메뉴 열기/닫기">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="mobile-nav-login-group">
      <a href="#" class="mobile-nav-login">로그인</a>
      <a href="#" class="mobile-nav-join">회원가입</a>
    </div>
    <ul id="mobile-gnb" class="mobile-gnb">
      <li><a href="#">대출비교 서비스</a></li>
      <li><a href="#">고객센터</a></li>
      <li><a href="#">마이페이지</a></li>
    </ul>
  </div>
</nav>
<!-- // mobile-nav -->