@use 'sass:math';


.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $container-padding;
}

.row {
  display: flex;
  flex-wrap: wrap;
  //margin: 0 math.div(-$grid-gutter, 2);  // 이것도 수정
  width: 100%;
}

.col {
  padding: 0 math.div($grid-gutter, 2);  // 이것도 수정
  
  @for $i from 1 through $grid-columns {
    &-#{$i} {
      $width: math.div($i, $grid-columns) * 100%;
      //flex: 0 0 $width;
      width: $width;
    }
  }
}
