@use 'sass:map';
@use 'sass:math';
@use "sass:string";
@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/utilities' as *;

// 대출비교 페이지
.loan-comparison-page {

}

// 대출비교 절차 섹션
.procedure-section {
  
}

.procedure-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 20px;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
  }
}

.procedure-notes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
  @media (min-width: map.get($breakpoints, 'md')) {
    padding-top: 20px;
  }
}

.procedure-note {
  font-size: 12px;
  color: #df0000;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 16px;
  }
  
  &::before {
    content: '* ';
  }
}

// 보유종목 섹션
.stocks-section {
  margin-top: 25px;
  @media (min-width: map.get($breakpoints, 'md')) {
    
  }
}

.section-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap:15px;
  @media (min-width: map.get($breakpoints, 'md')) {
    margin-bottom: 30px;
  }
}

.section-title {
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 28px;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    @media (min-width: map.get($breakpoints, 'md')) {
      width: 30px;
      height: 30px;
    }
  }
}

.section-buttons {
  display: flex;
  gap: 10px;
}

.login-after-buttons{
  .btn-add{
    width: 100%;
    font-size: 16px;
    color: #999999;
  }
}

.btn-add,
.btn-close-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 5px;
  border: 1px solid #eee;
  background: #f2f2f2;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  width: 50%;
  height: 55px;
  cursor: pointer;
  .ico-plus{
    img{
      width: 16px;
    }
  }
  .ico-close{
    img{
      width: 16px;
    }
  }
  @media (min-width: map.get($breakpoints, 'md')) {
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 10px;
  }
}


.stocks-instruction {
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.stock-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  @media (min-width: map.get($breakpoints, 'md')) {
    gap: 20px;
    margin-bottom: 30px;
  }
}

.stock-item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap:0 10px;
  .quantity-value{
    display: none;
  }
}

.stock-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
  
  &::after{
    content: '✓';
    color: #d0d6db;
  }
  input[type="checkbox"]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
  @media (min-width: map.get($breakpoints, 'md')) {
    width: 30px;
    height: 30px;
  }
  
  &:has(input[type="checkbox"]:checked) {
    background: #df0000;
    border-color: #df0000;
    &::after {
      
      color: white;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
.stock-item-header{
  display: flex;
  align-items: center;
  gap: 8px;

}

.stock-name {
  font-size: 17px;
  margin-bottom: 5px;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 18px;
  }
}
.stock-price{
  color: #cccccc;
  font-weight: 700;
  font-size: 12px;
}

.stock-item-footer{
  display: flex;
  align-items: center;
  gap: 0 6px;
}
.stock-quantity {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  padding: 13px 10px;
  background: #f2f2f2;
  min-width: 80px;
  flex-shrink: 0;
  input[type="text"]{
    width: 50px;
  }
}

.quantity-controls {
  display: flex;
  flex-direction: column;
  gap: 2px;
}


.quantity-input {
  border: 0;
  background: none;
}


.quantity-btn {
  width: 10px;
  height: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  &.up{
    background-image: url('/images/loan/up.png');
  }
  &.down{
    background-image: url('/images/loan/down.png');
  }
  @media (min-width: map.get($breakpoints, 'md')) {
    width: 24px;
    height: 20px;
  }
}


.quantity-unit {
  font-size: 12px;
  color: #666;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 14px;
  }
}

.stock-remove {
  width: 10px;
  height: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 10px;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: map.get($breakpoints, 'md')) {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}

.total-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #eee;
  margin-top: 20px;
  @media (min-width: map.get($breakpoints, 'md')) {
    padding: 30px 0;
    margin-bottom: 30px;
  }
}

.total-label {
  font-size: 15px;
  color: #333;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 20px;
  }
}

.total-value {
  font-size: 17px;
  font-weight: 700;
  color: #333;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 28px;
  }
}

.btn-compare {
  width: 100%;
  height: 56px;
  background: #df0000;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  @media (min-width: map.get($breakpoints, 'md')) {
    height: 90px;
    font-size: 28px;
    border-radius: 20px;
  }
}

// 상품 비교 결과 섹션
.results-section {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 25px 12px;
  margin-bottom: 20px;
  margin-top: 30px;
  @media (min-width: map.get($breakpoints, 'md')) {
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 40px;
  }
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
  @media (min-width: map.get($breakpoints, 'md')) {
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
  }
}

.filter-item {
  flex: 1;
}

.filter-label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 18px;
  }
}

.filter-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:15px;
}

.filter-btn {
  padding: 8px 16px;
  border: 1px solid #eee;
  background: #f2f2f2;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s;
  @media (min-width: map.get($breakpoints, 'md')) {
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 10px;
  }
  
  &.active {
    background: #df0000;
    color: white;
    border-color: #df0000;
  }
}

.results-status {
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  
  th {
    background: #f9f9f9;
    padding: 12px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid #eee;
    
    @media (min-width: map.get($breakpoints, 'md')) {
      padding: 16px;
      font-size: 16px;
    }
  }
  
  td {
    font-weight: 500;
    padding: 6px 0;
    font-size: 13px;
    text-align: center;
    
    @media (min-width: map.get($breakpoints, 'md')) {
      padding: 16px;
      font-size: 16px;
    }
  }
  
  tr:last-child td {
    border-bottom: none;
  }
}

.btn-select {
  padding: 13px 10px;
  background: #df0000;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  @media (min-width: map.get($breakpoints, 'md')) {
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 8px;
  }
}

// 종목 등록 모달
#stockModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  .modal-title{
    text-align: left;
  }
  
  
  &.active {
    display: flex;
  }
}

.stock-modal-content {
  background: #f5f5f5;
  width: 90%;
  max-width: 500px;
  max-height: 80vh;
  border-radius: 10px;
  padding: 25px;
  position: relative;
  @media (min-width: map.get($breakpoints, 'md')) {
    border-radius: 20px;
    padding: 40px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  line-height: 1;
  @media (min-width: map.get($breakpoints, 'md')) {
    top: 25px;
    right: 25px;
    font-size: 28px;
  }
}

.modal-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.modal-search {
  position: relative;
  margin-bottom: 20px;
}

.modal-search-input {
  width: 100%;
  height: 44px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 0 50px 0 15px;
  font-size: 14px;
  background-color: #e6e6e6;
  @media (min-width: map.get($breakpoints, 'md')) {
    height: 50px;
    font-size: 16px;
  }
}

.modal-search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal-stock-list {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 10px;
}

.modal-stock-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}

.modal-stock-name {
  font-size: 14px;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 16px;
  }
}

.modal-stock-add {
  cursor: pointer;
  background: url('/images/loan/add.png') no-repeat center center / cover;
  width: 14px;
  height: 14px;
  font-size: 0;
  @media (min-width: map.get($breakpoints, 'md')) {
    width: 20px;
    height: 20px;
  }
}

.modal-stock-registered {
  font-size: 14px;
  color: #cccccc;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 14px;
  }
}

// 대출신청 상품 확인 페이지
.loan-application-page {
  .page-title{
    text-align: left;
  }
}

.page-title {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.product-card {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px 12px;
  margin-bottom: 10px;
  @media (min-width: map.get($breakpoints, 'md')) {
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 30px;
  }
}

.product-info-block {
  
}

.company-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 22px;
  @media (min-width: map.get($breakpoints, 'md')) {
    gap: 12px;
    margin-bottom: 20px;
  }

  
  .company-name {
    font-size: 18px;
    font-weight: 700;
    color: #4ecdc4;
    @media (min-width: map.get($breakpoints, 'md')) {
      font-size: 24px;
    }
  }
}

.product-title {
  font-size: 15px;
  color: #333333;
  font-weight: 400;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 18px;
  }
}

.loan-details-table {
  
}

.loan-table {
  width: 100%;
  border-collapse: collapse;
  
  thead {
    background: #f2f2f2;
    
    th {
      padding: 10px 6px;
      font-size: 11px;
      font-weight: 500;
      text-align: center;
      border-bottom: 1px solid #999999;
      &.bdb-none{
        border-bottom: 0;
      }
      @media (min-width: map.get($breakpoints, 'md')) {
        padding: 12px 8px;
        font-size: 14px;
      }
    }
    
    .sub-header {
      th {
        font-size: 10px;
        font-weight: 400;
        padding: 6px;
        @media (min-width: map.get($breakpoints, 'md')) {
          font-size: 12px;
          padding: 8px;
        }
      }
    }
  }
  
  tbody {
    tr:last-child{
      
    }
    td {
      padding: 10px 6px;
      font-size: 13px;
      text-align: center;
      font-weight: 500;
      @media (min-width: map.get($breakpoints, 'md')) {
        padding: 12px 8px;
        font-size: 14px;
      }
    }
    
    .total-row {
      td {
        border-top: 1px solid #999999;
      }
    }
  }
}

.product-info-section{
  padding-left: 20px;
  padding-right: 20px;
}

.info-notes {
  margin-bottom: 25px;
  @media (min-width: map.get($breakpoints, 'md')) {
    margin-bottom: 30px;
  }
}

.info-note {
  font-size: 12px;
  color: #333;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 2px;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &.highlight {
    color: #df0000;
    text-indent: -7px;
    padding-left: 7px;
    .note-asterisk{
      color: #df0000;
    }
  }
  
  .note-asterisk {
    color: #3b3737;
    font-weight: 700;
    font-size: 12px;
  }
}

.product-description-section {
  
}

.description-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.description-text {
  font-size: 12px;
  color: #3b3737;
  line-height: 1.3;
  margin-bottom: 15px;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.btn-download {
  width: 100%;
  max-width: 400px;
  height: 55px;
  background: #e6e6e6;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #797979;
  cursor: pointer;
  @media (min-width: map.get($breakpoints, 'md')) {
    height: 60px;
    font-size: 16px;
    border-radius: 12px;
  }
}

.action-section {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 28px;
  padding-bottom: 15px;
  z-index: 10;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.final-disclaimer {
  margin-bottom: 10px;
  text-align: center;
  @media (min-width: map.get($breakpoints, 'md')) {
    margin-bottom: 30px;
  }
}

.disclaimer-text {
  font-size: 12px;
  color: #df0000;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 14px;
  }
  
  .note-asterisk {
    color: #df0000;
    font-weight: 700;
  }
}


.action-question {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #333;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  @media (min-width: map.get($breakpoints, 'md')) {
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
}

.btn-securities-list {
  height: 56px;
  background: #ffe0e0;
  border: 1px solid #ffcccc;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #df0000;
  cursor: pointer;
  @media (min-width: map.get($breakpoints, 'md')) {
    height: 90px;
    font-size: 20px;
    border-radius: 20px;
  }
}

.btn-loan-apply {
  height: 56px;
  background: #df0000;
  border: 1px solid #df0000;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  @media (min-width: map.get($breakpoints, 'md')) {
    height: 90px;
    font-size: 20px;
    border-radius: 20px;
  }
}

// 대출지원 쿠폰 페이지
.loan-coupon-page {
  padding-top: 15px;
  .page-title{
    font-size: 16px;
    font-weight: 700;
    color: #000;
    @media (min-width: map.get($breakpoints, 'md')) {
      font-size: 32px;
    }
  }
}

.coupon {
  position: relative;
  background: url('/images/loan/coupon.png') no-repeat center center / cover;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media (min-width: map.get($breakpoints, 'md')) {
    margin: 0 auto;
    width: 672px;
    height: 357px;
  }
}


.coupon-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}

.coupon-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

.coupon-period {
  font-size: 12px;
  color: #fff;
  background-color: #cb0000;
  padding: 2px 5px;
  font-weight: 500;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 20px;
  }
}

.coupon-cutout {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  background: #f5f5f5;
  border-radius: 50%;
  transform: translateY(-50%);
  @media (min-width: map.get($breakpoints, 'md')) {
    width: 40px;
    height: 40px;
  }
  
  &.coupon-cutout-left {
    left: -15px;
    @media (min-width: map.get($breakpoints, 'md')) {
      left: -20px;
    }
  }
  
  &.coupon-cutout-right {
    right: -15px;
    @media (min-width: map.get($breakpoints, 'md')) {
      right: -20px;
    }
  }
}

.coupon-info-section {
  padding-left: 25px;
  padding-top: 25px;
  @media (min-width: map.get($breakpoints, 'md')) {
    padding-top: 50px;
    padding-left: 70px;
  }
}

.info-item {
  margin-bottom: 25px;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  @media (min-width: map.get($breakpoints, 'md')) {
    margin-bottom: 30px;
  }
}

.info-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #333;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.info-content {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 16px;
  }
  
  p {
    margin: 0;
  }
}

.divider {
  height: 1px;
  background: #eee;
  margin: 30px 0;
  @media (min-width: map.get($breakpoints, 'md')) {
    margin: 40px 0;
  }
}

