@use 'sass:map';
@use 'sass:math';
@use "sass:string";
@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/utilities' as *;

.mypage-form-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
  
  @media (min-width: map.get($breakpoints, 'md')) {
    gap: 50px;
  }

  .input-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    @media (min-width: map.get($breakpoints, 'md')) {
      gap: 20px;
    }

    input[type="text"]{
      width: 100%;
      height: 56px;
      border: 1px solid #999999;
      background-color: #fff;
      border-radius: 5px;
      padding: 0 20px;
      font-size: 14px;
      font-weight: 500;
      color: #797979;
      cursor: default;
      
      @media (min-width: map.get($breakpoints, 'md')) {
        font-size: 20px;
        height: 80px;
        padding: 0 40px;
        border-radius: 20px;
      }
    }

    .user-info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-radius: 10px;
      border: 1px solid #999999;
      padding: 20px;
      background-color: #fff;
      font-size: 14px;
      font-weight: 500;
      color: #000;
      @media (min-width: map.get($breakpoints, 'md')) {
        height: 90px;
        padding-left: 40px;
        font-size: 20px;
        flex-direction: row;
        gap:0;
        align-items: center;
        border-radius: 20px;
      }
    }

  }

  .mypage-button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
    @media (min-width: map.get($breakpoints, 'md')) {
      gap: 15px;
      width: 370px;
      margin: 0 auto;
    }

    .btn-history {
      height: 56px;
      border: 1px solid #eee;
      background-color: #f2f2f2;
      color: #333;
      border-radius: 10px;
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.2s ease;
      
      @media (min-width: map.get($breakpoints, 'md')) {
        height: 90px;
        font-size: 18px;
        border-radius: 20px;
      }

      &:hover {
        background-color: #e8e8e8;
      }
    }
  }

  .mypage-consent-section {
    gap: 15px;
    
    @media (min-width: map.get($breakpoints, 'md')) {
      gap: 30px;
    }
  }
  .mypage-sub-title {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    @media (min-width: map.get($breakpoints, 'md')) {
      font-size: 24px;
    }
  }
  .mypage-consent-item {
    padding: 20px;
    border: 1px solid #999;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 18px;
    
    @media (min-width: map.get($breakpoints, 'md')) {
      padding: 40px;
      gap: 20px;
    }

    

    .mypage-consent-title {
      font-weight: 500;
      color: #000;
      font-size: 12px;
      line-height: 1.34;
      padding-left: 10px;
      position: relative;
      &::before{
        content: '*';
        display: inline-block;
        position: absolute;
        left: 0;
      }
      .mypage-consent-date{
        color: #ff0000;
        display: block;
      }
      @media (min-width: map.get($breakpoints, 'md')) {
        font-size: 20px;
        .mypage-consent-date{
          display: inline-block;
        }
      }
    }

    .mypage-radio-group {
      display: flex;
      gap: 20px;
      
      @media (min-width: map.get($breakpoints, 'md')) {
        gap: 80px;
      }
    }


    // 라디오 버튼은 사용자가 직접 수정할 예정
    .mypage-radio-label {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 12px;
      font-weight: 500;
      color: #000;
      @media (min-width: map.get($breakpoints, 'md')) {
        font-size: 20px;
        gap: 14px;
      }
    }
    input[type="radio"]{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
    }
    .radio-custom {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap:0 8px;
      cursor: pointer;
      @media (min-width: map.get($breakpoints, 'md')) {
        font-size: 20px;
        gap:0 14px;
      }
      &::before{
        content: '';
        display: inline-block;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: url('/images/radio.png') no-repeat center center / contain;
        @media (min-width: map.get($breakpoints, 'md')) {
          width: 36px;
          height: 36px;
        }
      }
    }
    input[type="radio"]:checked + .radio-custom {
      &::before{
        background-image: url('/images/radio-check.png');
      }
    }
  }

  .mypage-action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    
    @media (min-width: map.get($breakpoints, 'md')) {
      gap: 20px;
      margin-top: 20px;
      width: 370px;
      margin: 0 auto;
    }

    .btn-mypage {
      height: 56px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.2s ease;
      border: 1px solid #eee;
      
      @media (min-width: map.get($breakpoints, 'md')) {
        height: 80px;
        font-size: 28px;
        border-radius: 20px;
      }

      &.btn-edit {
        background-color: #ffe0e0;
        color: #df0000;
        
        &:hover {
          background-color: #ffcccc;
        }
      }

      &.btn-withdraw {
        background-color: #ffe0e0;
        color: #df0000;
        
        &:hover {
          background-color: #ffcccc;
        }
      }
    }
  }
}

