// Abstracts
@use 'sass:map';
@use 'sass:math';
@use "sass:string";
@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/utilities' as *;

.breadcrumb{
  background: #f2f2f2;
  padding: 20px 0 15px;
  @media (min-width: map.get($breakpoints, 'md')) {
    padding: 30px 0;
  }
  .container{
    display: flex;
    justify-content: flex-end;
    @media (min-width: map.get($breakpoints, 'md')) {
      justify-content: flex-start;
    }
  }
  ol{
    display: flex;
    li{
      font-weight: 500;
      font-size: 12px;
      color: #b3b3b3;
      @media (min-width: map.get($breakpoints, 'md')) {
        font-size: 20px;
      }
      &:not(:last-child){
        &::after{
          content: '>';
          margin: 0 5px;
          @media (min-width: map.get($breakpoints, 'md')) {
            margin: 0 10px;
          }
        }
      }
      &:last-child{
        color: #808080;
      }
    }
  }
}