// Abstracts
@use 'sass:map';
@use 'sass:math';
@use "sass:string";
@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/utilities' as *;


.footer{
  padding: 25px 0;
  @media (min-width: map.get($breakpoints, 'md')) {
    .footer-inner{
      display: flex;
      flex-direction: column-reverse;
    }
    background-color: #e6e6e6;
    padding: 60px 0;
  }
}

body:has(.action-section){
  .footer{
    padding-bottom: 160px;
    @media (min-width: map.get($breakpoints, 'md')) {
      padding-bottom: 280px;
    }
  }
}
body:has(.main-visual){
  .footer{
    padding-bottom: 120px;
    @media (min-width: map.get($breakpoints, 'md')) {
      padding-bottom: 140px;
    }
  }
  .footer-buttons{
    display: flex;
  }
}

.footer-buttons{
  position: fixed;
  bottom: 2rem;
  left: 0;
  width: 100vw;
  justify-content: center;
  display: none;
  z-index: 10;
  > div{
    position: relative;
    @media (min-width: map.get($breakpoints, 'md')) {
      width: 770px;
    }
  }
  .popover{
    position: absolute;
    left: 50%;
    top: -5px;
    transform: translateY(-100%);
    
  }
  .popover-trigger{
    width: 13px;height: 7px;background: url('/images/footer-arrow.png') no-repeat center center;background-size: cover;
    @media (min-width: map.get($breakpoints, 'md')) {
      width: 26px;
      height: 13px;
    }
  }
  .popover-content{
    background-color: #808080;
    top: 0;
    transform: translate(-50%,-100%);
    color: #fff;
    font-size: 10px;
    text-align: center;
    box-shadow: none;
    @media (min-width: map.get($breakpoints, 'md')) {
      font-size: 20px;
      width: 237px;
    }
  }
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 50px;
    background-color: #df0000;
    @media (min-width: map.get($breakpoints, 'md')) {
      padding: 20px 0;
      font-size: 30px;
    }
  }
}

.footer-logo{
  width: 72px;
  height:15px;
  background: url('/images/footer-logo.png') no-repeat center center;
  background-size: cover;
  font-size: 0;
  margin-bottom: 20px;
  @media (min-width: map.get($breakpoints, 'md')) {
    margin-bottom: 25px;
    width: 144px;
    height: 30px;
  }
}
.footer-content-item{
  color: #a9b1bb;
  font-size: 13px;
  line-height: 1.34;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 20px;
  }
}
.footer-legal{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  @media (min-width: map.get($breakpoints, 'md')) {
    margin: 30px 0 0;
  }
}
.footer-logo2{
  width: 100px;
  height:15px;
  background: url('/images/footer-logo2.png') no-repeat center center / contain;
  font-size: 0;
  @media (min-width: map.get($breakpoints, 'md')) {
    width: 200px;
    height: 30px;
  }
}
.footer-links{
  display: flex;
  a{
    color: #333;
    font-size: 13px;
    line-height: 1.34;
    font-weight: 500;
    &:first-child{
      position: relative;
      padding: 0 16px;
      &::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 8px;
        width: 1px;
        height: 12px;
        background: #d9d9d9;
        @media (min-width: map.get($breakpoints, 'md')) {
          height: 18px;
          top: 5px;
          left: 12px;
        }
      }
      &::after {
        content: '';
        position: absolute;
        top: 3px;
        right: 8px;
        width: 1px;
        height: 12px;
        background: #d9d9d9;
        @media (min-width: map.get($breakpoints, 'md')) {
          height: 18px;
          top: 5px;
          right: 12px;
        }
      }
      @media (min-width: map.get($breakpoints, 'md')) {
        padding: 0 24px;
      }
    }
    @media (min-width: map.get($breakpoints, 'md')) {
      font-size: 20px;
    }
  }
}
.footer-copy{
  flex-basis: 100%;
  margin-top: 10px;
  color: #a9b1bb;
  font-size: 13px;
  line-height: 1.34;
  @media (min-width: map.get($breakpoints, 'md')) {
    font-size: 20px;
    margin-top: 20px;
  }
}