// Abstracts
@use 'sass:map';
@use 'sass:math';
@use "sass:string";
@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/utilities' as *;

// ========================================
// Sub Layout
// ========================================

#sub-layout{
  background-color: #fff;
  padding: 30px 0;
  @media (min-width: map.get($breakpoints, 'md')) {
    padding: 60px 0;
  }
}

.subVisual{
  background: url('/images/banner.png') no-repeat center center;
  background-size: cover;
  height: 210px;
  margin: 0 15px;
  border-radius: 15px;
  overflow: hidden;
  @media (min-width: map.get($breakpoints, 'md')) {
    height: 310px;
    margin: 0;
    border-radius: 0;
  }
}